<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>About</title>
</head>

<body>

    <div class="topnav">
        <a class="active" href="/"> <span> Home </span></a>
        <div class="heading">About us</div>
    </div>


    <div class="about">
        <div class="info">

            <div class="about-page">

                <div class="about-us" align="justify">
                    We are final year student of biomedical engineering from NIT Raipur. We have covered Heart disease predication in our minor project and this website is an extended version that we are going to work in our major project. This website will help us to determine the chances of heart disease before going for any diagnosis. Here, we propose a web application that allows users to get instant guidance on their heart disease through an intelligent system online The application is fed with various details and the heart disease associated with those details. The application allows user to share their heart related risks. <br>
                    <br>
                    You can find report on

                    <div class="icon">

                       
                        <div class="github"><a href="https://github.com/Durgesh2050/Minor-Project" class="fa fa-github" target="_blank"></a></div>
                      
                        <form method="get" action="static/document/MINOR PROJECT FINAL REPORT.pdf" target="_blank">
                            <div class="cv"><button class="btn" type="submit"><i class="fa fa-download"></i> Download
                                    REPORT</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="image"><img src="static/img/About.jpeg" alt="image"></div>
    </div>
</body>

</html>